<script type='text/javascript' src="/js/indexEyS.js"> </script> 
<div class="container mt-4 mb-4" id="container-add">
    <form    id="">
<body class="bg-light ">
     <main style="">
        <section class="row" >
            <div class="" style="">
               
                <div class="card">
                    <div class="card-header"> 
                        <div class="row">
                             <div id="">
                             </div>
                             <div class="card-title col-md-5">
                            <h5>Generar Salida</h5>
                             </div>   
                         <div class="col-md-4 float-right">
                            <h5 style="color:red; text-align:right" id="labelCons" data-doc="salida" >SALIDA Nº:</h5>                                     
                        </div>     
                            <div class="col-md-3" id="consE" name="consecutivo">  <h5 id="nE" data-cons="{{consecutivo}}" >{{'consecutivo'}} </h5></div>
                                                                      
                        </div>
                    </div>
                                   
                    <div class="card-body">
                        <section class="row"  >
                            <form >
                               <div class="form-group col-md-2">
                                <label for="col-md-4"> Tipo</label>
                                <select type="text" class="form-control " name="tipo" id="tipo" onchange="tipoUser(value)">
                                     <option value="0">-Seleccione-</option>                                    
                                    {{#each tipo}}
                                    <option value="{{id}}">{{nombre}}</option>                                   
                                    {{/each}}
                                </select>
                                </div>
                                    <div class="form-group col-md-4" id="nombreSat">
                                <label class="form-group" for="nombre">Nombre:</label>                                 
                                <select type="text" class="form-control" id="nombre" name="nombre">
                                    <option value="">-Seleccione-</option>  
                                      </select>
                                     </div>                                                                                 
                            </form>
                        </section>
                                </div>
                                <section class="row" >
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">                         
                        <div class="card-title">
                            <h5>Detalle Entrada</h5>
                            </div>                  
                    </div>
                    <div class="card-body">
                        <form class="row" id="formDatos">
                               <div class="form-group col-md-2">
                                <label for="">Referencia</label>
                                 <select type="number" class="form-control " id="referencia" onchange="addDescripcion(value)">
                                   <option value="0">-Seleccione-</option>
                                   {{#each productos}}
                                   <option id="{{id}}" value="{{nombre}}" itemid="{{id}}">{{referencia}}</option>
                                   {{/each}}
                                   </select>
                            </div>                                    
                            <div class="form-group col-md-1">
                                <label for="">Cantidad</label>
                                <input type="number" class="form-control" name="cantidad" id="cantidad" onchange="saldoRefSat(value)">
                                </div>
                            <div class="form-group col-md-3">
                                <label for="">Descripción</label>
                                <input type="text" class="form-control" name="descripcion" id="descripcion">
                                    </div>
                                <div class="form-group col-md-3">
                                <label for="" class="col-12">Observaciones</label>
                                <input type="text" class="form-control" name="observaciones" id="observaciones">
                                </div>
                                 <div class="form-group col-md-1">
                                <label for="">Nro Entrada</label>
                                <input type="text" class="form-control" name="nrosalida" id="nrosalida" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="reset" id="boton" class="btn btn-primary mt-4" onclick="llenarDatos()">Agregar</button>
                                    
                                 
                                </div> 
                                <p id="txtValidador" style="color:red"></p>
                                   </div>
                                </div>
                            </section>
                               <div class="card"></div>
                                    <section class="row mt-4">
                                        <div class="col">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h5>Lista de Elementos</h5>
                                                   </div>
                                                </div>
                                                   <div class="col" id="detalle">
                                                    <table class="table" id="dataTable">
                                                  <thead class="text-center">
                                                    
                                                    <tr>                                                       
                                                        <th>Referencia</th>
                                                        <th>Cantidad</th>
                                                        <th>Saldo</th>
                                                        <th>Descripción</th>
                                                        <th>Observaciones</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                         </thead>                                                                                                    
                                                    </div>                          
                                            </table>  
                                        </div>                                        
                                             <section>                                                
                                           <div class="card-header d-flex flex-row-reverse bd-highlight" id="total" name="cantidad"> <h4></h4> </div>
                                               
                                        </section>          
                                         <div class="col-md-3 mt-2 mb-4 mx-5 ms-auto">                                         
                                          
                                       <button type="button" class="btn btn-success float-right" id="save" onclick="sendBackend('salidas/add')">Guardar</button>
                                        
                                    </div>                                
                                  </div>
                               </div>  
                               </section>  
                  </main>    
           </form>
           {{!-- se deshabilita la funcion  traer consecutivo con get --}}
           {{!-- <script>consN('salidas/cons')</script> --}}
</body>
</div>

