
<div class="container p-4 m-4">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card p-4">
                <div class="card-body">
                    <h3>Editar Producto</h3>
                    {{#each producto}}
                    <form action="/productos/edit/{{id}}" method="post">

                    <select name="condicion" id="" class="form-control m-4">
                        <option value="{{condicion}}">{{condicion}}</option>
                         <option value="Nuevo">Nuevo</option>
                         <option value="Existente">Existente</option>
                          
                    </select>

                    <div class="form-group">
                      
                         <label for="nombre">Nombre</label>
                        <input type="text" class="form-control m-4" value="{{nombre}}" name="nombre" placeholder="Nombre" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="referencia">Referencia</label>
                        <input type="text" value="{{referencia}}" name="referencia" class="form-control m-4" placeholder="Referencia">
                    </div>
                     <div class="form-group">
                      <label for="precio">Precio</label>
                    <input type="text" name="precio" value="{{precio}}" class="form-control m-4" placeholder="Precio">
                    </div>
                    {{/each}}
                    <div class="form-group">
                      <label for="categoria">Categoría</label>
                    <select name="categoriaId" id="" class="form-control m-4">
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                        {{#each categorias}}
                        <option value="{{id}}">{{nombre}}</option>
                          {{/each}}
                    </select>
                    </div>
                   
                    
                    <div class="form-group">
                      <label for="telaId">Tela:</label>
                    <select name="telaId" id="" class="form-control m-4">
                        <option value="{{tela.id}}">{{tela.nombre}}</option>
                        {{#each telas}}
                        <option value="{{id}}">{{nombre}}</option>
                          {{/each}}
                    </select>
                    </div>
                    
                       <div class="form-group">
                        </div>                       
                    <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </form>
                    
                </div>
            </div>
            
        </div>
        
    </div>
  
</div>