<div class="container p-4 col-md-7">
  <h1 >Lista de Productos</h1>
          <div class="row">
        {{#each productos}}
        <div class="card m-2 p-2">
    <div class="row">
    <div class="col">
        <h6>Nombre</h6>
      {{nombre}}
    </div>
    <div class="col">
        <h6>Referencia</h6>
      {{referencia}}
    </div>
     <div class="col">
        <h6>Precio</h6>
      {{precio}}
    </div>   
    
    <div class="col m-1">
      <a href="/productos/edit/{{id}}" class="btn btn-success btn-sm mt-1">Editar</a>
      <a href="/productos/eliminar/{{id}}" class="btn btn-danger btn-sm mt-1">Eliminar</a>
    </div>
      </div>
</div>
        {{/each}}
   </div>
   </div>